cloudbeaver-data/
/commands/token.txt
/commands/tokenMintaka.txt
ssh
.vscode/task.json
.$CILCULOOS.drawio.bkp

csv_NGSILD_Agent/__pycache__/
/leather_board_outline/__pycache__
commands_URL/token.txt
commands_URL/tokenMintaka.txt
leather_board_outline/__pycache__/outline_detection.cpython-311.pyc

csv_NGSILD_Agent/__pycache__/csv_ngsild_agent_utils.cpython-311.pyc
.vscode/*
dumy_data_ramp/to_CIRCULOOS_Platform/token.txt
csv_NGSILD_Agent/__pycache__/csv_ngsild_agent_utils.cpython-311.pyc
arm64_dockerfiles/mongodb.ce.pi4.r6.0.13-mongodb-raspberrypi-docker-unofficial.tar.gz
rs485_to_ngsild/lib/waveshare_RS485_RS232_HAT/__pycache__/
rs485_to_ngsild/lib/waveshare_RS485_RS232_HAT/*.pyc
rs485_to_ngsild/__pycache__/*
nodes_can/__pycache__/*
