cloudbeaver-data/
/commands/token.txt
/commands/tokenMintaka.txt
ssh
.vscode/task.json
.$CILCULOOS.drawio.bkp

**/__pycache__/

commands_URL/token.txt
commands_URL/tokenMintaka.txt

.vscode/*
dumy_data_ramp/to_CIRCULOOS_Platform/token.txt
